@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion-aluminio{
    @include m.contenedor;
    display: grid;
    gap:5rem;

    @include m.telefono{
        grid-template-rows: auto auto;
        
    }

    @include m.tablet{
        grid-template-columns: repeat(2,1fr);
        align-items: center; // centra todos los hijos verticalmente
    }


    &_img{
      justify-self: center;// alinea el hijo de forma horizontal
        img{
            max-width: 100%;
            height: auto;
        }
    } 

    .vision_img{
        @include m.telefono{
            grid-row: 1 ;
        }

        @include m.tablet{
            grid-column: 2 / span 2;
        }
    } 

    &_contenido{
        place-self: center; // alinea el hijo en forma vertical
        padding: 0 3rem;

        h1{
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        p{
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
}